// Spacing ---------------------------------------------------------------------
button,
.button
    margin: $spacing-button-margin
input,
textarea,
select,
fieldset
    margin: $spacing-input-margin
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form
    margin: $spacing-misc-margin

.vs
    margin: $vs
@media (min-width: $bp-xs)
    .xs-vs
        margin: $xs-vs
    .xs-vs
        margin: 0
@media (min-width: $bp-sm)
    .sm-vs
        margin: $sm-vs
    .sm-novs
        margin: 0

@media (min-width: $bp-md)
    .md-vs
        margin: $md-vs
    .md-novs
        margin: 0

@media (min-width: $bp-xs)
    .lg-vs
        margin: $lg-vs
    .lg-novs
        margin: 0
