// Code ------------------------------------------------------------------------
code
    padding: $code-padding
    margin: $code-margin
    font-size: $code-font-size
    white-space: nowrap
    background: $code-bg
    border: 1px solid $code-border
    border-radius: $border-radius
pre > code
    display: block
    padding: $pre-code-margin
    white-space: pre
